services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"
    networks:
      - websocknet

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: [ "CMD", "kafka-broker-api-versions", "--bootstrap-server", "kafka:9092" ]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - websocknet

  kafka-ui:
    image: provectuslabs/kafka-ui
    ports:
      - "8090:8080"
    depends_on:
      - kafka
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
    networks:
      - websocknet

  webs1:
    image: websocket:latest
    container_name: websock1
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8443:8443"
    restart: unless-stopped
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - websocknet

  webs2:
    image: websocket:latest
    container_name: websock2
    ports:
      - "8444:8443"
    restart: unless-stopped
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - websocknet

  nginx:
    image: nginx:alpine
    ports:
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./certs/:/etc/nginx/certs/
    depends_on:
      - webs1
      - webs2
    networks:
      - websocknet

  prometheus:
    image: ubuntu/prometheus:3-24.04_stable
    environment:
      TZ: UTC
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus_data/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - websocknet

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=123
    volumes:
      - ./grafana_data:/var/lib/grafana
    networks:
      - websocknet

networks:
  websocknet:
    name: websocknet
    driver: bridge